@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  background: #ffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.head-wrapper {
  padding-bottom: 30px;
  margin: 25px 25px 0 25px;
}

.nav-bar {
  display:flex;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 10;
}

.menu {
  display: block;
  flex: 1;
}

.logo {
  text-decoration: none;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.toogle-btn{
  width: 35px;
  height: 3px;
  background-color: #6070ff;
  margin: 6px 0;
}

.headline-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom-left-radius: 110px;
  background-image: url(file:///C:/Users/VS47~1/AppData/Local/Temp/header_section_background.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.intro {
  font-weight: 700px;
  font-size: 40px;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  color: rgba(23, 43, 77, 1);
  margin: 12px 0;
}

.message {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: rgba(52, 69, 99, 1);
}

.end-message {
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: rgba(127, 140, 255, 1);
}

.social-icon {
  display: flex;
  padding-left: 0%;
  list-style: none;
  width: 200px;
  margin: 0 25px 0 25px;
}

.social-media {
  font-size: 20px;
  color: rgba(80, 95, 121, 1);
  flex: 1;
}

.social-media a {
  color: rgba(80, 95, 121, 1);
}